<div class="container text-center">
    <div style="margin-top: 1%; margin-bottom: 1%" class="form-group col-md-12 row text-center">
      <div class="col-md-3"></div>
      <label class="col-md-2 control-label">Plant's height:</label>
      <input type="number" name="items[]" id="items_" min="0" step="1" class="form-control col-md-2" >
    </div>
</div>